*{
    padding: 0;
    margin: 0;
    color: blue;
    text-align: center;
}

html, body{
    background-color: rgb(182, 112, 225);
}

.main-container{
    border: 4px solid rgb(88, 172, 208);
    border-radius: 50px;
    margin: 2rem;
    background-color: rgb(38, 199, 127);
    padding: 4px;
}

 section, footer, aside, article, header{
    border: 2px solid white;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

article, aside{
    width: 40%;
    display: inline-flex;
    height: 300px;
    padding: 1rem;
}

 footer, section{
    background-color: lightblue;
}