<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>guardarDueño</servlet-name>
        <servlet-class>Servlet.guardarDueño</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarDueno</servlet-name>
        <servlet-class>Servlet.guardarDueno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarMascota</servlet-name>
        <servlet-class>Servlet.guardarMascota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarEmpleado</servlet-name>
        <servlet-class>Servlet.borrarMascota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarDueno</servlet-name>
        <servlet-class>Servlet.borrarDueno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarDueño</servlet-name>
        <servlet-class>Servlet.borrarDueño</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarMascota</servlet-name>
        <servlet-class>Servlet.borrarMascota</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>guardarDueño</servlet-name>
        <url-pattern>/guardarDue_o</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarDueno</servlet-name>
        <url-pattern>/guardarDueno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarMascota</servlet-name>
        <url-pattern>/guardarMascota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarEmpleado</servlet-name>
        <url-pattern>/borrarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarDueno</servlet-name>
        <url-pattern>/borrarDueno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarDueño</servlet-name>
        <url-pattern>/borrarDue_o</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarMascota</servlet-name>
        <url-pattern>/borrarMascota</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
